@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);*/
  background: var(--background);
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Montserrat", serif;
  color:#000;
}
input{
  width:100%;
  border: 2px solid #137AE9;
  height: 46px;
}

body .black{
 color: #fff;
}